 <!-- services-area -->
            <section class="services-area-seven pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-7">
                            <div class="section-title-two text-center mb-50">
                                <span class="sub-title">Our Services</span>
                                <h2 class="title">The features that make our Service unique</h2>
                                <p>Morem ipsum dolor sit amet, consectetur adipiscing elita florai psum dolor amet, consectetuolor sit amet, consectetu.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-inspiration"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Finance Planning</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-layers"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Business Consulting</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-calculator"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Tax Advisory</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-investment"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Business Audit</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-business-presentation"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">BAudit & Evaluation</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-report-1"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Customer Experience</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-development"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Project Management</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="features-item-three">
                                <div class="features-icon-three">
                                    <i class="flaticon-piggy-bank"></i>
                                </div>
                                <div class="features-content-three">
                                    <h2 class="title">Investment Planning</h2>
                                    <p>Morem ipsum dolor sittemet consectetur adipiscing elitflorai psum dolor.</p>
                                    <a href="services-details.html" class="link-btn">See Details <img src="assets/img/icons/right-arrow.svg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services-area-end -->