<section
  class="services-area-five inner-services-bg"
  data-background="assets/img/bg/inner_services_bg.jpg"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title-two text-center mb-50">
          <h2 class="title">End-to-End SSE Solutions</h2>
          <p>Services for NGOs & Impact Investors</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="services-item">
          <div class="services-content">
            <div class="content-top">
              <div class="icon">
                <i class="flaticon-briefcase"></i>
              </div>
              <h2 class="title">Services for NGOs</h2>
            </div>
            <div class="services-thumb">
              <img src="assets/img/services/services-ngo.jpg" alt="" />
              <a href="/services-for-ngo" class="btn transparent-btn"
                >Our Services</a
              >
            </div>
            <ul class="list-wrap">
              <li>SSE listing roadmap</li>
              <li>Access to ZCZP grant funding</li>
              <li>Compliance & impact reporting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="services-item">
          <div class="services-content">
            <div class="content-top">
              <div class="icon">
                <i class="flaticon-taxes"></i>
              </div>
              <h2 class="title">Services for Investor</h2>
            </div>
            <div class="services-thumb">
              <img src="assets/img/services/services-investor.jpg" alt="" />
              <a href="/services-for-investors" class="btn transparent-btn"
                >Our Services</a
              >
            </div>
            <ul class="list-wrap">
              <li>Curated high-impact NGO IPOs</li>
              <li>Transparent ROI & social metrics</li>
              <li>SEBI-grade governance assurance</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
