 <!-- cta-area -->
            <section class="cta-area-five pb-120">
                <div class="container">
                    <div class="cta-inner-wrap-two" data-background="assets/img/bg/cta-bg-purple.png">
                        <div class="row align-items-center">
                            <div class="col-lg-9">
                                <div class="cta-content">
                                    <div class="cta-info-wrap">
                                        <div class="icon">
                                            <i class="flaticon-phone-call"></i>
                                        </div>
                                        <div class="content">
                                            <span>Call For More Info</span>
                                            <a href="tel:0123456789">+123 8989 444</a>
                                        </div>
                                    </div>
                                    <h2 class="title">Let’s Request a Schedule For Free Consultation</h2>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="cta-btn text-end">
                                    <a href="/contact-us" class="btn btn-three">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- cta-area-end -->