<section class="services-area-five inner-services-bg" data-background="assets/img/bg/inner_services_bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="section-title-two text-center mb-50">
                                <h2 class="title">Spotlight some most important features We have</h2>
                                <p>Borem ipsum dolor sit amet consectetur adipiscing elita</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 col-sm-10">
                            <div class="services-item">
                                <div class="services-content">
                                    <div class="content-top">
                                        <div class="icon">
                                            <i class="flaticon-briefcase"></i>
                                        </div>
                                        <h2 class="title">For NGOs</h2>
                                    </div>
                                    <div class="services-thumb">
                                        <img src="assets/img/services/services_img01.jpg" alt="">
                                        <a href="services-details.html" class="btn transparent-btn">Our Services</a>
                                    </div>
                                    <ul class="list-wrap">
                                        <li>seusmeyd tempose atidim area</li>
                                        <li>aliquam duhipsum is simply free</li>
                                        <li>Get Life Time Access</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-10">
                            <div class="services-item">
                                <div class="services-content">
                                    <div class="content-top">
                                        <div class="icon">
                                            <i class="flaticon-taxes"></i>
                                        </div>
                                        <h2 class="title">For Investor</h2>
                                    </div>
                                    <div class="services-thumb">
                                        <img src="assets/img/services/services_img02.jpg" alt="">
                                        <a href="services-details.html" class="btn transparent-btn">Our Services</a>
                                    </div>
                                    <ul class="list-wrap">
                                        <li>seusmeyd tempose atidim area</li>
                                        <li>aliquam duhipsum is simply free</li>
                                        <li>Get Life Time Access</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>