 <!-- blog-area -->
            <section class="blog-area pt-120 pb-120">
                <div class="container">
                    <div class="inner-blog-wrap">
                        <div class="row justify-content-center">
                            <div class="col-71">
                                <div class="blog-post-wrap">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img01.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Development</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar01.png" alt="">Kat Doven</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img02.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Business</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar02.png" alt="">Floyd Miles</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img03.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Tax Advisory</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar03.png" alt="">Bessie Cooper</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img04.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Business</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar04.png" alt="">Devon Lane</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img05.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Consultancy</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar05.png" alt="">Annette Black</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="blog-post-item-two">
                                                <div class="blog-post-thumb-two">
                                                    <a href="blog-details.html"><img src="assets/img/blog/h3_blog_img06.jpg" alt=""></a>
                                                    <a href="blog.html" class="tag tag-two">Finance</a>
                                                </div>
                                                <div class="blog-post-content-two">
                                                    <h2 class="title"><a href="blog-details.html">Meet AutoManage, the best AI management tools</a></h2>
                                                    <p>Everything you need to start building area atching presence for your business.</p>
                                                    <div class="blog-meta">
                                                        <ul class="list-wrap">
                                                            <li>
                                                                <a href="blog-details.html"><img src="assets/img/blog/blog_avatar06.png" alt="">Eleanor Pena</a>
                                                            </li>
                                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Pagination -->
                                    <!-- <div class="pagination-wrap mt-30">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination list-wrap">
                                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item next-page"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <div class="col-29">
                                <aside class="blog-sidebar">
                                    <div class="sidebar-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search Here . . .">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Categories</h4>
                                        <div class="bs-cat-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Business <span>(02)</span></a></li>
                                                <li><a href="#">Consulting <span>(08)</span></a></li>
                                                <li><a href="#">Corporate <span>(05)</span></a></li>
                                                <li><a href="#">Design <span>(02)</span></a></li>
                                                <li><a href="#">Fashion <span>(11)</span></a></li>
                                                <li><a href="#">Marketing <span>(12)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Recent Posts</h4>
                                        <div class="rc-post-wrap">
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/rc_post01.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="blog-details.html">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/rc_post02.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="blog-details.html">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/rc_post03.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="blog-details.html">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/rc_post04.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="blog-details.html">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Tags</h4>
                                        <div class="bs-tag-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Finance</a></li>
                                                <li><a href="#">Consultancy</a></li>
                                                <li><a href="#">Data</a></li>
                                                <li><a href="#">Agency</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->