---
import BlogCard from "./BlogCard.astro";
---

<!-- blog-area -->
<section class="blog-area pt-120 pb-120">
  <div class="container">
    <div class="inner-blog-wrap">
      <div class="row g-4">
        <div class="col-lg-12">
          <div class="blog-post-wrap">
            <div class="row">
              <BlogCard
                title="Unlock Funding for Impact: SSE is Now Live in India!"
                description="India’s Social Stock Exchange (SSE) is opening powerful new doors for...."
                date="15 May, 2025"
                href="/blog-1"
                tag="Social Stock Exchange"
                imageUrl="/assets/img/blog/cover/1.png"
              />
              <BlogCard
                title="The Problem NGOs Face — and How SSE Solves It"
                description="Why do so many impactful NGOs struggle with funding?..."
                date="15 May, 2025"
                href="/blog-2"
                tag="Social Stock Exchange"
                imageUrl="/assets/img/blog/cover/2.png"
              />
              <BlogCard
                title="Impact Investors - This is Your Moment"
                description="India’s Social Stock Exchange (SSE) is here and with it, a new era of...."
                date="15 May, 2025"
                href="/blog-3"
                tag="Social Stock Exchange"
                imageUrl="/assets/img/blog/cover/3.png"
              />
            </div>
            <!-- Pagination -->
            <!-- <div class="pagination-wrap mt-30">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination list-wrap">
                                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                <li class="page-item next-page"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div> -->
          </div>
        </div>
        <!-- <div class="col-29">
                                <aside class="blog-sidebar">
                                    <div class="sidebar-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search Here . . .">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Categories</h4>
                                        <div class="bs-cat-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Business <span>(02)</span></a></li>
                                                <li><a href="#">Consulting <span>(08)</span></a></li>
                                                <li><a href="#">Corporate <span>(05)</span></a></li>
                                                <li><a href="#">Design <span>(02)</span></a></li>
                                                <li><a href="#">Fashion <span>(11)</span></a></li>
                                                <li><a href="#">Marketing <span>(12)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Recent Posts</h4>
                                        <div class="rc-post-wrap">
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="/blog-1"><img src="assets/img/blog/rc_post01.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="/blog-1">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="/blog-1"><img src="assets/img/blog/rc_post02.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="/blog-1">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="/blog-1"><img src="assets/img/blog/rc_post03.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="/blog-1">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="/blog-1"><img src="assets/img/blog/rc_post04.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="/blog-1">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Tags</h4>
                                        <div class="bs-tag-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Finance</a></li>
                                                <li><a href="#">Consultancy</a></li>
                                                <li><a href="#">Data</a></li>
                                                <li><a href="#">Agency</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div> -->
      </div>
    </div>
  </div>
</section>
<!-- blog-area-end -->
