<!-- about-area -->
            <section class="about-area-four pt-120">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-7 col-md-10 order-0 order-lg-2">
                            <div class="about-img-wrap-four">
                                <div class="mask-img-wrap">
                                    <img src="assets/img/images/h3_about_img01.jpg" alt="">
                                </div>
                                <div class="icon"><i class="flaticon-business-presentation"></i></div>
                                <img src="assets/img/images/h3_about_img02.jpg" alt="" class="img-two">
                                <div class="about-shape-wrap-three">
                                    <img src="assets/img/images/h3_about_shape01.png" alt="">
                                    <img src="assets/img/images/h3_about_shape02.png" alt="">
                                    <img src="assets/img/images/h3_about_shape03.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="about-content-four">
                                <div class="section-title-two mb-30 tg-heading-subheading animation-style1">
                                    <span class="sub-title tg-element-title">Get To know US</span>
                                    <h2 class="title tg-element-title">We are the next gen Business experience</h2>
                                </div>
                                <p>With over 25 years of experience, we have crafted thousands of Strategic discovery process that enables us to peel back which enable us to understand.</p>
                                <div class="about-list-three">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-profit"></i>
                                            </div>
                                            <div class="content">
                                                <h2 class="title">Business Growth</h2>
                                                <p>eiusmod temporincididunt ut labore magna aliqua Quisery.</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-mission"></i>
                                            </div>
                                            <div class="content">
                                                <h2 class="title">Target Audience</h2>
                                                <p>eiusmod temporincididunt ut labore magna aliqua Quisery.</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->