<!-- about-area -->
<section class="about-area-ten">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="about-img-wrap-five about-img-wrap-ten">
          <img src="assets/img/images/h4_about_img01.jpg" alt="" />
          <img
            src="assets/img/images/h4_about_img02.jpg"
            alt=""
            data-parallax='{"y" : 100 }'
          />
          <div class="experience-wrap">
            <h2 class="title">25 <span>Years Of Experience</span></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-content-five about-content-ten">
          <div class="section-title-two mb-30">
            <span class="sub-title">Get To know US</span>
            <h2 class="title">Transforming Impact Funding Landscapes</h2>
          </div>
          <p>
            For a quarter-century we’ve championed NGOs and socially minded
            investors, translating complex SEBI and NSE regulations into clear,
            actionable financing strategies. Our team’s holistic approach pairs
            deep sector analytics with on-the-ground insights, ensuring every
            listing or investment advances measurable, mission-aligned outcomes.
          </p>
          <p>
            From first-time SSE aspirants to seasoned impact funds, we provide
            the frameworks, governance structures, and capital-raising tools
            that let purpose and performance grow side by side—building a more
            equitable future, one successful listing at a time.
          </p>
          <div class="about-success-wrap">
            <ul class="list-wrap">
              <li>
                <div class="icon">
                  <i class="flaticon-family"></i>
                </div>
                <div class="content">
                  <h2 class="count">
                    <span class="odometer" data-count="63"></span>%
                  </h2>
                  <p>Insured Customers</p>
                </div>
              </li>
              <li>
                <div class="icon">
                  <i class="flaticon-trophy"></i>
                </div>
                <div class="content">
                  <h2 class="count">
                    <span class="odometer" data-count="95"></span>%
                  </h2>
                  <p>Satisfied Award</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-shape-five">
    <img src="assets/img/images/h4_about_shape.png" alt="" />
  </div>
</section>
<!-- about-area-end -->
