<!-- overview-area -->
            <section class="overview-area-two">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="overview-img-two">
                                <div class="mask-img-two">
                                    <img src="assets/img/images/h3_overview_img01.jpg" alt="">
                                </div>
                                <img src="assets/img/images/h3_overview_img02.jpg" alt="" class="img-two" data-parallax='{"y" : 100 }'>
                                <div class="overview-shape-wrap">
                                    <img src="assets/img/images/h3_overview_shape01.png" alt="">
                                    <img src="assets/img/images/h3_overview_shape02.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="overview-content-two">
                                <div class="section-title-two mb-30 tg-heading-subheading animation-style1">
                                    <span class="sub-title tg-element-title">Company Overview</span>
                                    <h2 class="title tg-element-title">Our Role in India’s Social Capital Ecosystem</h2>
                                </div>
                                <p>We believe India’s non-profit sector has the power to move mountains — it simply needs the right platform. DR Associates was built to <strong>help NGOs go public</strong>, gain visibility, and raise capital sustainably.</p>

                                <p>Through innovative financial instruments like <strong>ZCZPs, compliant frameworks, and deep investor networks, we make **impact investment accessible, transparent, and scalable.</strong></p>
                                <div class="blog-details-content">
<blockquote>We’re not just advisors — we’re collaborators in national transformation.</blockquote>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- overview-area-end -->