<!-- overview-area -->
            <section class="overview-area-two">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-lg-6 col-md-10">
                            <div class="overview-img-two">
                                <div class="mask-img-two">
                                    <img src="assets/img/images/h3_overview_img01.jpg" alt="">
                                </div>
                                <img src="assets/img/images/h3_overview_img02.jpg" alt="" class="img-two" data-parallax='{"y" : 100 }'>
                                <div class="overview-shape-wrap">
                                    <img src="assets/img/images/h3_overview_shape01.png" alt="">
                                    <img src="assets/img/images/h3_overview_shape02.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="overview-content-two">
                                <div class="section-title-two mb-30 tg-heading-subheading animation-style1">
                                    <span class="sub-title tg-element-title">Company Overview</span>
                                    <h2 class="title tg-element-title">We Prepare An Effective Strategy For Companies</h2>
                                </div>
                                <p>Morem ipsum dolor sit amet, consectetur adipiscing elita florai psum dolor sit amet, consecteture.</p>
                                <div class="progress-wrap">
                                    <div class="progress-item">
                                        <h6 class="title">Consulting</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="85" aria-valuemin="0"
                                            aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".1s" style="width: 85%"><span>85%</span></div>
                                        </div>
                                    </div>
                                    <div class="progress-item">
                                        <h6 class="title">Investment</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="76" aria-valuemin="0"
                                            aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".2s" style="width: 76%"><span>76%</span></div>
                                        </div>
                                    </div>
                                    <div class="progress-item">
                                        <h6 class="title">Investment</h6>
                                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90" aria-valuemin="0"
                                            aria-valuemax="100">
                                            <div class="progress-bar wow slideInLeft" data-wow-delay=".3s" style="width: 90%"><span>90%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- overview-area-end -->