---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import AboutCompany from "../components/about/AboutCompany.astro";
import Services from "../components/about/Services.astro";
import Overview from "../components/about/Overview.astro";
import FAQ from "../components/about/FAQ.astro";
import About2 from "../components/about/About2.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <slot name="styles">
     <title>About Us | DR Associates</title>
    <link rel="stylesheet" href="/assets/css/form.css" />
     <link rel="stylesheet" href="/assets/css/card.css" />
    </slot>
  <AboutCompany />
  <Services />
  <Overview />
  <!-- <FAQ />
  <About2 /> -->
</Layout>
