---
import Layout from "../layouts/Layout.astro";
import BlogBreadCrum from "../components/blogs/inner/BlogBreadCrum.astro";
import InnerBlog from "../components/blogs/inner/InnerBlog3.astro";
---

<Layout>
    <slot name="styles">
     <title>Blog | DR Associates</title>
    <!-- <link rel="stylesheet" href="/assets/css/blog-bottom-tags.css" /> -->
    </slot>
    <BlogBreadCrum title="DR Associates: Impact Investors - This is Your Moment"/>
    <InnerBlog/>
</Layout>