---

import Layout from "../layouts/Layout.astro";
import BlogBreadCrum from "../components/blogs/BlogBreadcrum.astro";
import BlogSection from "../components/blogs/BlogSection.astro";
---

<Layout>
    <slot name="styles">
     <title>Blogs | DR Associates</title>
    <link rel="stylesheet" href="/assets/css/form.css" />
    </slot>
<BlogBreadCrum/>
<BlogSection/>
</Layout>
