---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Introduction from '../components/Introduction.astro';
import Counter from '../components/Counter.astro';
import Whoweworkwith from '../components/Whoweworkwith.astro';
import Cta from '../components/Cta.astro';
import Sse from '../components/Sse.astro';
import Team from '../components/Team.astro';
import Cta2 from '../components/Cta2.astro';
import TrustedPartners from '../components/TrustedPartners.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <slot name="styles">
     <title>Home | DR Associates</title>
    <link rel="stylesheet" href="/assets/css/form.css" />
    </slot>
	<Hero/>
    <Introduction/>
    <Counter/>
    <Whoweworkwith/>
    <Cta/>
    <Sse/>
    <TrustedPartners/>
    <Team/>
    <Cta2/>
</Layout>
