---

import Layout from '../layouts/Layout.astro';
import ServiceBreadCrum from '../components/services/inner/ServiceBreadCrum.astro';
import ForInvestors from '../components/services/inner/ForInvestors.astro';
---

<Layout>
    <slot name="styles">
     <title>For Investors | DR Associates</title>
    <link rel="stylesheet" href="/assets/css/form.css" />
    </slot>
	<ServiceBreadCrum title="Services For Investors" />
    <ForInvestors />
</Layout>
