---

import Layout from "../layouts/Layout.astro";
import Introduction from "../components/nsesse/Introduction.astro";
import WhyItmatters from "../components/nsesse/WhyItmatters.astro";
import Benefits from "../components/nsesse/Benefits.astro";
import Help from "../components/nsesse/Help.astro";
import KeyProcesses from "../components/nsesse/KeyProcesses.astro";
import Visit from "../components/nsesse/Visit.astro"
import VisitBse from "../components/nsesse/VisitBse.astro";
---

<Layout>
    <slot name="styles">
     <title>What is SSE ? | DR Associates</title>
    </slot>
<Introduction/>
<WhyItmatters/>
<Benefits/>
<KeyProcesses/>
<Help/>
<Visit/>
<VisitBse/>
</Layout>
