<section class="inner-contact-area pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="inner-contact-form">
                    <h3 class="form-title">Get In Touch</h3>
                    <p class="form-desc">Have questions?<br/>Send us a message and we'll respond as soon as possible.</p>
                    <form action="#" class="contact-form">
                        <div class="form-row">
                            <div class="form-group half">
                                <input type="text" placeholder="Your Name" required>
                            </div>
                            <div class="form-group half">
                                <input type="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Your Message" required></textarea>
                        </div>
                        <div class="form-submit">
                            <button type="submit" class="submit-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner-contact-info">
                    <h2 class="title">Our Office Address</h2>
                    <div class="contact-info-item">
                        <h5 class="title-two">Head Office</h5>
                        <ul class="list-wrap">
                            <li>201, Anand Nagar Complex, 100 Feet Road, Satellite, Ahmedabad, Gujarat - 380015</li>
                            <li>+91 726506 7950</li>
                            <li>info@drassociates.co</li>
                        </ul>
                    </div>
                    <!-- <div class="contact-info-item">
                        <h5 class="title-two">Australia Office</h5>
                        <ul class="list-wrap">
                            <li>100 Wilshire Blvd, Suite 700 Santa <br> Monica, CA 90401, USA</li>
                            <li>+1 (310) 620-8565</li>
                            <li>info@gmail.com</li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>