<!-- contact-map -->
            <div class="contact-map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.3155579368963!2d72.51101577407452!3d23.012183116718113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e9b2ab3286dbf%3A0x7bab53783b6f2c7e!2sDR%20Associates!5e0!3m2!1sen!2sin!4v1747813528663!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- contact-map-end -->