<div class="blog-avatar-wrap mb-65">
            <div class="blog-avatar-img">
              <a href="#"><img src="assets/img/blog/Rohit Pandya.png" alt="img" /></a>
            </div>
            <div class="blog-avatar-info">
              <span class="designation">Author</span>
              <h4 class="name"><a href="#">Rohit Pandya</a></h4>
              <p>
                Finanappreciate your trust greatly Our clients choose dentace
                ducts because kn ow we are the best area Awaitingare really.
              </p>
            </div>
          </div>