<div class="blog-avatar-wrap mb-65">
            <div class="blog-avatar-img">
              <a href="#"><img src="assets/img/blog/Rohit Pandya.png" alt="img" /></a>
            </div>
            <div class="blog-avatar-info">
              <span class="designation">Author</span>
              <h4 class="name"><a href="#">Rohit Pandya</a></h4>
              <p>
                We bridge mission-driven organisations and socially-minded investors through seamless Social Stock Exchange listings.
              </p>
            </div>
          </div>