<!-- blog-details-area -->
            <section class="blog-details-area pt-120 pb-120">
                <div class="container">
                    <div class="blog-details-wrap">
                        <div class="row justify-content-center">
                            <div class="col-71">
                                <div class="blog-details-thumb">
                                    <img src="assets/img/blog/blog-details01.jpg" alt="">
                                </div>
                                <div class="blog-details-content">
                                    <h2 class="title">Why Should Business Payroll Outsourcing</h2>
                                    <div class="blog-meta-three">
                                        <ul class="list-wrap">
                                            <li><i class="far fa-calendar"></i>22 Jan, 2023</li>
                                            <li><img src="assets/img/blog/blog_avatar01.png" alt=""> by <a href="#">Kat Doven</a></li>
                                            <li><i class="fas fa-tags"></i> <a href="#">Finance,</a><a href="#">Business</a></li>
                                            <li><i class="flaticon-speech-bubble"></i><a href="#">05 Comments</a></li>
                                        </ul>
                                    </div>
                                    <p>when an unknown printer took ar galley offer type year anddey scrambled  make type aewer specimen book bethas survived not only five when annery unknown printer.eed a little help from our friends from time to time. Although we offer the one-stop convenience.</p>
                                    <p>eed a little help from our friends from time to time. Although we offer the one-stop convenience of annery integrated range of legal, financial services under one roof, there are occasions when our clients areaneed specia- list advice beyond the scope of our own expertise.</p>
                                    <blockquote>
                                        <p>“ urabitur varius eros rutrum consequat Mauris aewa sollicitudin enim condimentum luctus enim justo non molestie nisl ”</p>
                                    </blockquote>
                                    <h4 class="title-two">Speed Optimized</h4>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen bookhas a not only five centuries, but also the leap into electronic typesetting, remaining essentially unchan galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="bd-inner-wrap">
                                        <div class="row align-items-center">
                                            <div class="col-46">
                                                <div class="thumb">
                                                    <img src="assets/img/blog/blog-details02.jpg" alt="">
                                                    <a href="https://www.youtube.com/watch?v=6mkoGSqTqFI" class="play-btn popup-video"><i class="fas fa-play"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-54">
                                                <div class="content">
                                                    <h3 class="title-two">Conduct replied off whether arrived adapted</h3>
                                                    <p>when an unknown printer took a galley type remaining essentially unchan galley of type and scrambled it to make a type specimen book.</p>
                                                    <ul class="list-wrap">
                                                        <li><img src="assets/img/icons/check_icon.svg" alt="">Commercial Property Insurance</li>
                                                        <li><img src="assets/img/icons/check_icon.svg" alt="">Budget Friendly Theme</li>
                                                        <li><img src="assets/img/icons/check_icon.svg" alt="">Happy Customers</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen bookhas a not only five centuries, but also the leap into electronic typesetting, remaining essentially unchan galley of type and scrambled it to make a type specimen book.</p>
                                    <div class="bd-content-bottom">
                                        <div class="row align-items-center">
                                            <div class="col-md-7">
                                                <div class="post-tags">
                                                    <h5 class="title">Tags:</h5>
                                                    <ul class="list-wrap">
                                                        <li><a href="#">Finance</a></li>
                                                        <li><a href="#">Marketing</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="blog-post-share">
                                                    <h5 class="title">Share:</h5>
                                                    <ul class="list-wrap">
                                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-avatar-wrap mb-65">
                                    <div class="blog-avatar-img">
                                        <a href="#"><img src="assets/img/blog/avatar.png" alt="img"></a>
                                    </div>
                                    <div class="blog-avatar-info">
                                        <span class="designation">Author</span>
                                        <h4 class="name"><a href="#">Parker Willy</a></h4>
                                        <p>Finanappreciate your trust greatly Our clients choose dentace ducts because kn
                                        ow we are the best area Awaitingare really.</p>
                                    </div>
                                </div>
                                <div class="comments-wrap">
                                    <h3 class="comments-wrap-title">02 Comments</h3>
                                    <div class="latest-comments">
                                        <ul class="list-wrap">
                                            <li>
                                                <div class="comments-box">
                                                    <div class="comments-avatar">
                                                        <img src="assets/img/blog/comment01.png" alt="img">
                                                    </div>
                                                    <div class="comments-text">
                                                        <div class="avatar-name">
                                                            <h6 class="name">Jessica Rose</h6>
                                                            <span class="date">December 27, 2023</span>
                                                        </div>
                                                        <p>Finanappreciate your trust greatly Our clients choose dentace ducts because know we are the best area Awaitingare really.</p>
                                                        <a href="#" class="reply-btn">Reply</a>
                                                    </div>
                                                </div>
                                                <ul class="children">
                                                    <li>
                                                        <div class="comments-box">
                                                            <div class="comments-avatar">
                                                                <img src="assets/img/blog/comment02.png" alt="img">
                                                            </div>
                                                            <div class="comments-text">
                                                                <div class="avatar-name">
                                                                    <h6 class="name">Parker Willy</h6>
                                                                    <span class="date">December 28, 2023</span>
                                                                </div>
                                                                <p>Finanappreciate your trust greatly Our clients choose dentace ducts because know we are the best area Awaitingare really.</p>
                                                                <a href="#" class="reply-btn">Reply</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="comment-respond">
                                    <h3 class="comment-reply-title">Post a comment</h3>
                                    <form action="#" class="comment-form">
                                        <p class="comment-notes">Your email address will not be published. Required fields are marked *</p>
                                        <div class="form-grp">
                                            <textarea name="comment" placeholder="Comment"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-grp">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-grp">
                                                    <input type="email" placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-grp">
                                                    <input type="url" placeholder="Website">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-grp checkbox-grp">
                                            <input type="checkbox" id="checkbox">
                                            <label for="checkbox">Save my name, email, and website in this browser for the next time I comment.</label>
                                        </div>
                                        <button type="submit" class="submit-btn">Submit Post</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-29">
                                <aside class="blog-sidebar">
                                    <div class="sidebar-search">
                                        <form action="#">
                                            <input type="text" placeholder="Search Here . . .">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Categories</h4>
                                        <div class="bs-cat-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Business <span>(02)</span></a></li>
                                                <li><a href="#">Consulting <span>(08)</span></a></li>
                                                <li><a href="#">Corporate <span>(05)</span></a></li>
                                                <li><a href="#">Design <span>(02)</span></a></li>
                                                <li><a href="#">Fashion <span>(11)</span></a></li>
                                                <li><a href="#">Marketing <span>(12)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Recent Posts</h4>
                                        <div class="rc-post-wrap">
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="#"><img src="assets/img/blog/rc_post01.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="#">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="#"><img src="assets/img/blog/rc_post02.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="#">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="#"><img src="assets/img/blog/rc_post03.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="#">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                            <div class="rc-post-item">
                                                <div class="thumb">
                                                    <a href="#"><img src="assets/img/blog/rc_post04.jpg" alt=""></a>
                                                </div>
                                                <div class="content">
                                                    <span class="date"><i class="far fa-calendar"></i>22 Jan, 2023</span>
                                                    <h2 class="title"><a href="#">Whale be raised must be in a month</a></h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">Tags</h4>
                                        <div class="bs-tag-list">
                                            <ul class="list-wrap">
                                                <li><a href="#">Finance</a></li>
                                                <li><a href="#">Consultancy</a></li>
                                                <li><a href="#">Data</a></li>
                                                <li><a href="#">Agency</a></li>
                                                <li><a href="#">Travel</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-details-area-end -->