<!-- counter-area -->
            <section class="counter-area-three pb-90 pt-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-trophy"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="3"></span></h2>
                                    <p>NGOs Registered on SSE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-rating"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="3"></span></h2>
                                    <p>IPOs Scheduled (2025)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-folder-1"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="29"></span>Cr</h2>
                                    <p>Total IPO Value</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-round-table"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="4"></span></h2>
                                    <p>NGOs in Registration Process</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- counter-area-end -->