<!-- counter-area -->
            <section class="counter-area-three pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-trophy"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="23"></span>k</h2>
                                    <p>Best Awards</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-rating"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="223"></span>k</h2>
                                    <p>Happy Clients</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-folder-1"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="98"></span>k</h2>
                                    <p>Projects Done</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="counter-item-three">
                                <div class="counter-icon">
                                    <i class="flaticon-round-table"></i>
                                </div>
                                <div class="counter-content">
                                    <h2 class="count"><span class="odometer" data-count="22"></span>k</h2>
                                    <p>Expert People</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- counter-area-end -->