 <!-- request-area -->
            <section class="request-area-two">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="request-content-two">
                                <div class="section-title-two white-title mb-15">
                                    <h2 class="title">Request a Call Back</h2>
                                </div>
                                <p>Ever find yourself staring at your computer screen a good consulting slogan to come to mind? Oftentimes.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="request-form-wrap">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-grp">
                                                <input type="text" placeholder="Name *">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-grp">
                                                <input type="email" placeholder="E-mail *">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-grp">
                                                <input type="number" placeholder="Phone *">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit">Send Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="request-shape-wrap">
                    <img src="assets/img/images/h2_request_shape01_white.png" alt="">
                    <img src="assets/img/images/h2_request_shape02_white.png" alt="" data-aos="fade-left" data-aos-delay="200">
                </div>
            </section>
            <!-- request-area-end -->