 <style>
    .title{
        font-size:50px !important;
    }
 </style>
 <!-- slider-area -->
            <section class="slider-area">
                <div class="slider-active">
                    <div class="single-slider slider-bg" data-background="assets/img/banner/dr-hero-2.png">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider-content">
                                        <span class="sub-title" data-animation="fadeInUp" data-delay=".2s">For NGOs &nbsp;&amp;&nbsp;Impact Investors</span>
                                        <h2 class="title" data-animation="fadeInUp" data-delay=".4s">Bridging Social Vision with Strategic Investment.</h2>
                                        <p data-animation="fadeInUp" data-delay=".6s">We bridge mission-driven organisations and socially-minded investors through seamless Social Stock Exchange listings.</p>
                                        <a href="/services" class="btn" data-animation="fadeInUp" data-delay=".8s">Our Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="slider-shape">
                            <img src="assets/img/banner/banner_shape.png" alt="" data-animation="zoomIn" data-delay=".8s">
                        </div> -->
                    </div>
                    <!-- <div class="single-slider slider-bg" data-background="assets/img/banner/banner_bg02.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="slider-content">
                                        <span class="sub-title" data-animation="fadeInUp" data-delay=".2s">For NGOs &nbsp;&amp;&nbsp;Impact Investors</span>
                                        <h2 class="title" data-animation="fadeInUp" data-delay=".4s">Raise Public Capital, Drive Social Change</h2>
                                        <p data-animation="fadeInUp" data-delay=".6s">We bridge mission-driven organisations and socially-minded investors through seamless Social Stock Exchange listings.</p>
                                        <a href="/services" class="btn" data-animation="fadeInUp" data-delay=".8s">Our Services</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-shape">
                            <img src="assets/img/banner/banner_shape.png" alt="" data-animation="zoomIn" data-delay=".8s">
                        </div>
                    </div> -->
                </div>
            </section>
            <!-- slider-area-end -->