 <!-- team-area -->
            <section class="team-area-four pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="section-title-two text-center mb-50 tg-heading-subheading animation-style2">
                                <span class="sub-title tg-element-title">Expert People</span>
                                <h2 class="title tg-element-title">Dedicated Team Members</h2>
                                <p>Ever find yourself staring at your computer screen a good consulting slogan to come to mind? Oftentimes.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                            <div class="team-item-four">
                                <div class="team-thumb-four">
                                    <img src="assets/img/team/h4_team_img01.jpg" alt="">
                                    <div class="team-social-three">
                                        <div class="social-toggle-icon">
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content-four">
                                    <h2 class="title"><a href="#">Brooklyn Simmons</a></h2>
                                    <span>Finance Advisor</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                            <div class="team-item-four">
                                <div class="team-thumb-four">
                                    <img src="assets/img/team/h4_team_img02.jpg" alt="">
                                    <div class="team-social-three">
                                        <div class="social-toggle-icon">
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content-four">
                                    <h2 class="title"><a href="#">Jerome Bell</a></h2>
                                    <span>Finance Advisor</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                            <div class="team-item-four">
                                <div class="team-thumb-four">
                                    <img src="assets/img/team/h4_team_img03.jpg" alt="">
                                    <div class="team-social-three">
                                        <div class="social-toggle-icon">
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content-four">
                                    <h2 class="title"><a href="#">Kathryn Murphy</a></h2>
                                    <span>Finance Advisor</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
                            <div class="team-item-four">
                                <div class="team-thumb-four">
                                    <img src="assets/img/team/h4_team_img04.jpg" alt="">
                                    <div class="team-social-three">
                                        <div class="social-toggle-icon">
                                            <i class="fas fa-share-alt"></i>
                                        </div>
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-content-four">
                                    <h2 class="title"><a href="#">Guy Hawkins</a></h2>
                                    <span>Finance Advisor</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-area-end -->