<!-- team-area -->
<section class="team-area-four pt-120 pb-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div
          class="section-title-two text-center mb-50 tg-heading-subheading animation-style2"
        >
          <span class="sub-title tg-element-title">Meet Our Team</span>
          <h2 class="title tg-element-title">Dedicated Team Members</h2>
          <p>
            Here Are The People Behind The Purpose — Meet Our Team Powering
            Social Change.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
        <div class="team-item-four">
          <div class="team-thumb-four">
            <img src="assets/img/team/dr-team/5.png" alt="" />
            <div class="team-social-three">
              <div class="social-toggle-icon">
                <i class="fas fa-share-alt"></i>
              </div>
              <ul class="list-wrap">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content-four">
            <h2 class="title"><a href="#">Dipak Shah</a></h2>
            <span>Co-Founder & Promoter</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
        <div class="team-item-four">
          <div class="team-thumb-four">
            <img src="assets/img/team/dr-team/3.png" alt="" />
            <div class="team-social-three">
              <div class="social-toggle-icon">
                <i class="fas fa-share-alt"></i>
              </div>
              <ul class="list-wrap">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content-four">
            <h2 class="title"><a href="#">Rohit Pandya</a></h2>
            <span>Co-Founder & CEO</span>
          </div>
        </div>
      </div>
      
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
        <div class="team-item-four">
          <div class="team-thumb-four">
            <img src="assets/img/team/dr-team/9.png" alt="" />
            <div class="team-social-three">
              <div class="social-toggle-icon">
                <i class="fas fa-share-alt"></i>
              </div>
              <ul class="list-wrap">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content-four">
            <h2 class="title"><a href="#">Kushal Shah</a></h2>
            <span>CFO</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
        <div class="team-item-four">
          <div class="team-thumb-four">
            <img src="assets/img/team/dr-team/10.png" alt="" />
            <div class="team-social-three">
              <div class="social-toggle-icon">
                <i class="fas fa-share-alt"></i>
              </div>
              <ul class="list-wrap">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content-four">
            <h2 class="title"><a href="#">Pritesh Shah</a></h2>
            <span>Executive Digital Marketing</span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-10">
        <div class="team-item-four">
          <div class="team-thumb-four">
            <img src="assets/img/team/dr-team/1.png" alt="" />
            <div class="team-social-three">
              <div class="social-toggle-icon">
                <i class="fas fa-share-alt"></i>
              </div>
              <ul class="list-wrap">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team-content-four">
            <h2 class="title"><a href="#">Aneri Shah</a></h2>
            <span>Executive Documentation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team-area-end -->
