<!-- testimonial-area -->
            <section class="testimonial-area-two testimonial-bg-two" data-background="assets/img/Testimonials/1.png">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title-two white-title text-center mb-50 tg-heading-subheading animation-style3">
                                <span class="sub-title">Our Testimonials</span>
                                <h2 class="title tg-element-title">What Customers Say’s About Our Gerow Services</h2>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-wrap-two">
                        <div class="row testimonial-active-two">
                            <div class="col-lg-6">
                                <div class="testimonial-item-two">
                                    <div class="testimonial-content-two">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p>“ DR Associates ensured a smooth SSE registration journey with expert guidance and a personalized touch—highly recommended for mission-driven organizations navigating the social finance space.</p>
                                        <div class="testimonial-avatar">
                                            <div class="avatar-thumb">
                                                <img src="assets/img/images/testi_avatar02.png" alt="">
                                            </div>
                                            <div class="avatar-info">
                                                <h2 class="title">R. Ranganathen</h2>
                                                <span>Managing Trustee & CEO, CTRD Trust – Tamilnadu.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-item-two">
                                    <div class="testimonial-content-two">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p>“ Thanks to DR Associates’ deep SSE insight and support, our onboarding was seamless. Their strategic partnership truly empowers impact-driven organizations like ours.</p>
                                        <div class="testimonial-avatar">
                                            <div class="avatar-thumb">
                                                <img src="assets/img/images/testi_avatar02.png" alt="">
                                            </div>
                                            <div class="avatar-info">
                                                <h2 class="title">Ansuman Das</h2>
                                                <span>Director & Secretary, Sabuj Sangha – West Bengal</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="testimonial-item-two">
                                    <div class="testimonial-content-two">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <p>“ We highly recommend DR Associates—their tailored support and strategic guidance made our SSE onboarding efficient and inspiring. A true partner in social impact.</p>
                                        <div class="testimonial-avatar">
                                            <div class="avatar-thumb">
                                                <img src="assets/img/images/testi_avatar02.png" alt="">
                                            </div>
                                            <div class="avatar-info">
                                                <h2 class="title"> Harish Chawla</h2>
                                                <span>Secretary General, Hope Ek ASHA – New Delhi</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-nav-two"></div>
                    </div>
                </div>
            </section>
            <!-- testimonial-area-end -->