<!-- services-area -->
            <section class="services-area-nine fix">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="section-title-two text-center text-md-start white-title mb-40 tg-heading-subheading animation-style2">
                                <span class="sub-title tg-element-title">Our Services</span>
                                <h2 class="title tg-element-title">Innovative Service For Your Business Solution</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="view-all-btn text-end mb-40">
                                <a href="/services" class="btn transparent-btn-two transparent-btn-white">See All Services</a>
                            </div>
                        </div>
                    </div>
                    <div class="services-item-wrap">
                        <div class="services-item-six" data-aos="fade-up" data-aos-delay="400">
                            <div class="services-thumb-six">
                                <a href="/services-for-ngo"><img src="assets/img/home/homepage-ngo.jpg" alt="img"></a>
                            </div>
                            <div class="services-content-six">
                                <div class="services-content-six-top">
                                    <div class="services-icon-six">
                                        <i class="flaticon-briefcase-1"></i>
                                    </div>
                                    <h2 class="title"><a href="/services-for-ngo">For NGOs</a></h2>
                                </div>
                                <p>Your mission deserves a national stage—listing on the Social Stock Exchange opens sustainable funding streams and nationwide credibility. We guide you through every regulatory, financial, and impact-measurement step to turn bold visions into lasting change.</p>
                                <a href="/services-for-ngo" class="btn btn-three">See Details</a>
                            </div>
                        </div>
                        <div class="services-item-six" data-aos="fade-up" data-aos-delay="400">
                            <div class="services-thumb-six">
                                <a href="/services-for-investors"><img src="assets/img/home/homepage-investor.jpg" alt="img"></a>
                            </div>
                            <div class="services-content-six">
                                <div class="services-content-six-top">
                                    <div class="services-icon-six">
                                        <i class="flaticon-calculator"></i>
                                    </div>
                                    <h2 class="title"><a href="/services-for-investors">For Investors</a></h2>
                                </div>
                                <p>Invest in India’s future—channel capital into rigorously vetted, high-impact NGOs and gain transparent social returns alongside sound financial stewardship. Your investment fuels measurable change and amplifies outcomes where they matter most.</p>
                                <a href="/services-for-investors" class="btn btn-three">See Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-shape-wrap">
                    <img src="assets/img/services/h6_services_shape01.png" alt="shape" data-aos="fade-down-left" data-aos-delay="400">
                    <img src="assets/img/services/h6_services_shape02.png" alt="shape" data-aos="fade-up-right" data-aos-delay="400">
                </div>
            </section>
            <!-- services-area-end -->