 <!-- features-area -->
            <section class="features-area-eight">
                <div class="container custom-container-five pb-60 pt-120">
                    <div class="features-inner-wrap">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="features-item-five">
                                    <div class="features-icon-five">
                                        <i class="flaticon-layers"></i>
                                    </div>
                                    <div class="features-content-five">
                                        <h2 class="title">Flexibility & <br> Adaptability</h2>
                                        <p>rem ipsum dolor s ameconsectetr adipiscing el sed eiumod aawrea tempor incididuntrem ipsumr econsectetr adipiscing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="features-item-five">
                                    <div class="features-icon-five">
                                        <i class="flaticon-mission"></i>
                                    </div>
                                    <div class="features-content-five">
                                        <h2 class="title">Business <br> Management</h2>
                                        <p>rem ipsum dolor s ameconsectetr adipiscing el sed eiumod aawrea tempor incididuntrem ipsumr econsectetr adipiscing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="features-item-five">
                                    <div class="features-icon-five">
                                        <i class="flaticon-business-presentation"></i>
                                    </div>
                                    <div class="features-content-five">
                                        <h2 class="title">Market Analysis & <br> Research</h2>
                                        <p>rem ipsum dolor s ameconsectetr adipiscing el sed eiumod aawrea tempor incididuntrem ipsumr econsectetr adipiscing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="features-item-five">
                                    <div class="features-icon-five">
                                        <i class="flaticon-development"></i>
                                    </div>
                                    <div class="features-content-five">
                                        <h2 class="title">Finance Flow & <br> Growth</h2>
                                        <p>rem ipsum dolor s ameconsectetr adipiscing el sed eiumod aawrea tempor incididuntrem ipsumr econsectetr adipiscing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- features-area-end -->