<style>
    .features-item-six{
        background: #685d9F;
       
    }
    .title{
        color:white;
    }
    .features-content-six p{
        color:aliceblue;
    }
    .features-icon-six{
        color:white;
    }
</style>
<!-- features-area -->
            <section class="features-area-nine" data-background="assets/img/bg/h7_features_bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-7 col-lg-8">
                            <div class="section-title-two text-center mb-40 z-index-1 position-relative tg-heading-subheading animation-style2">
                                <h2 class="title tg-element-title">Providing The Best Services Business Target For Future Vision</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row gutter-24 justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="features-item-six">
                                <div class="features-item-six-top">
                                    <div class="features-icon-six">
                                        <i class="flaticon-layers"></i>
                                    </div>
                                    <h2 class="title"><a href="services-details.html">Business Management</a></h2>
                                </div>
                                <div class="features-content-six">
                                    <p>rem ipsum dolor amera consect failerey adipiscing el sed eiumod aawea tempor incididuntrem ipsumr econsecte.</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="features-item-six">
                                <div class="features-item-six-top">
                                    <div class="features-icon-six">
                                        <i class="flaticon-mission"></i>
                                    </div>
                                    <h2 class="title"><a href="services-details.html">Market Analysis & Research</a></h2>
                                </div>
                                <div class="features-content-six">
                                    <p>rem ipsum dolor amera consect failerey adipiscing el sed eiumod aawea tempor incididuntrem ipsumr econsecte.</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="features-item-six">
                                <div class="features-item-six-top">
                                    <div class="features-icon-six">
                                        <i class="flaticon-investment"></i>
                                    </div>
                                    <h2 class="title"><a href="services-details.html">Core Finance <br> Advisor</a></h2>
                                </div>
                                <div class="features-content-six">
                                    <p>rem ipsum dolor amera consect failerey adipiscing el sed eiumod aawea tempor incididuntrem ipsumr econsecte.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="features-shape-six">
                    <img src="assets/img/images/h7_features_shape01.png" alt="shape">
                    <img src="assets/img/images/h7_features_shape02.png" alt="shape">
                </div>
            </section>
            <!-- features-area-end -->