  <!-- about-area -->
            <section class="about-area about-bg" data-background="assets/img/bg/about_bg.jpg">
                <div class="container pt-60">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="about-img-wrap">
                                <img src="assets/img/images/about_img01.png" alt="" class="main-img">
                                <img src="assets/img/images/about_img_shape01.png" alt="">
                                <img src="assets/img/images/about_img_shape02.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="about-content">
                                <div class="section-title mb-25 tg-heading-subheading animation-style2">
                                    <span class="sub-title tg-element-title">What We are Doing</span>
                                    <h2 class="title tg-element-title">Changing The Way To Do Best Business Solutions</h2>
                                </div>
                                <p>Borem ipsum dolor sit amet, consectetur adipiscing elita floraipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua Quis suspendisse ultri ces gravida. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellat reprehenderit non ipsa distinctio veniam rem autem inventore. Possimus eveniet fugit quod! Vero, ipsam! Ipsum officiis tempore saepe placeat animi esse, quasi, dolores voluptatibus nesciunt, minus harum neque eos delectus odit vero? Consequatur, incidunt tenetur temporibus repudiandae sapiente dignissimos quas!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->