  <!-- team-area -->
   <!-- Parent class : team-area-seven - removed -->
            <section class="pb-60">

                <!-- cta-area -->
                <section class="cta-area-two pt-60">
                    <div class="container">
                        <div class="cta-inner-wrap-two" data-background="assets/img/bg/cta-bg-purple.png">
                            <div class="row align-items-center">
                                <div class="col-lg-9">
                                    <div class="cta-content">
                                        <!-- <div class="cta-info-wrap">
                                            <div class="icon">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <div class="content">
                                                <span>Call For More Info</span>
                                                <a href="tel:+917265067950">+91 72650 67950</a>
                                            </div>
                                        </div> -->
                                        <h2 class="title">Visit BSE Site</h2>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="cta-btn text-end">
                                        <a href="https://www.bseindia.com/" class="btn btn-three" target="_blank">Visit Site</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- cta-area-end -->

                
                <div class="team-shape-wrap">
                    <!-- <img src="assets/img/team/h6_team_shape01.png" alt="shape" data-aos="fade-down-right" data-aos-delay="400">
                    <img src="assets/img/team/h6_team_shape02.png" alt="shape" class="animationFramesOne">
                    <img src="assets/img/team/h6_team_shape03.png" alt="shape" data-aos="fade-up-left" data-aos-delay="400"> -->
                    <!-- <img src="assets/img/team/h6_team_shape04.png" alt="shape" class="animationFramesOne"> -->
                </div>
            </section>
            <!-- team-area-end -->